@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai+2|Baloo+Tamma+2|Bellota+Text|Oxanium&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=News+Cycle&family=Roboto:ital,wght@1,300&display=swap");

.navigation-bar {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
  align-items: flex;
  background-color: rgb(0, 0, 0);
  font-family: "Roboto", cursive;
  z-index: 1;
  padding-right: 40px;
  box-sizing: border-box;
  top: 0;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
  opacity: 0.85;
}
.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  text-decoration: none;
  color: #59d2fe;
  padding: 1rem;
  display: block;
  font-size: 1.8rem;
}
.nav-links a:hover {
  color: #caa8f5;
}
/* hamburger-menu start*/
.hamburger-button {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 25px;
}
.hamburger-button .bar {
  height: 4px;
  width: 100%;
  background-color: rgb(230, 230, 230);
  border-radius: 4px;
  background: rgb(64, 64, 75);
}
@media (max-width: 765px) {
  .navigation-bar {
    padding-right: 20px;
  }
  .nav-links li a {
    padding: 1rem;
    font-size: 1.5rem;
  }
  .hamburger-button {
    width: 40px;
    height: 28px;
  }
}
@media (max-width: 630px) {
  .hamburger-button {
    display: flex;
    width: 38px;
    height: 28px;
    top: 1.2rem;
    right: 1.5rem;
  }
  .nav-links {
    display: none;
    width: 100%;
  }
  .navigation-bar {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links ul {
    flex-direction: column;
    width: 100%;
  }
  .nav-links li {
    text-align: center;
  }
  .nav-links li a {
    padding: 0.5rem 0.5rem;
  }
  .nav-links.active {
    display: flex;
  }
}
