@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai+2|Baloo+Tamma+2|Bellota+Text|Oxanium&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=News+Cycle&family=Roboto:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body{
  font-family: "Oxanium", "Bellota Text", cursive, sans-serif, Arial;
}
.site-wrapper {
  display: flex;
  flex-direction: column;
}
